.profile__name {
  margin: 0;
  max-width: 350px;
  color: #ffffff;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1020px) {
  .profile__name {
    font-size: 32px;
    line-height: 32px;
    max-width: 300px;
  }
}

@media screen and (max-width: 933px) {
  .profile__name {
    font-size: 28px;
    line-height: 28px;
    max-width: 275px;
  }
}

@media screen and (max-width: 850px) {
  .profile__name {
    font-size: 25px;
    line-height: 25px;
    max-width: 230px;
  }
}

@media screen and (max-width: 800px) {
  .profile__name {
    font-size: 30px;
    line-height: 30px;
    max-width: 275px;
  }
}

@media screen and (max-width: 460px) {
  .profile__name {
    font-size: 24px;
    line-height: 24px;
    max-width: 230px;
  }
}

@media screen and (max-width: 400px) {
  .profile__name {
    font-size: 24px;
    line-height: 24px;
  }
}

@media screen and (max-width: 320px) {
  .profile__name {
    font-size: 27px;
    line-height: 32.68px;
    text-align: center;
  }
}
