.profile__text{
  max-width: 350px;
  margin: 0;
  color: #fff;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1020px) {
  .profile__text {
    font-size: 15px;
    line-height: 15px;
    max-width: 300px;
  }
}

@media screen and (max-width: 933px) {
  .profile__text {
    font-size: 13px;
    line-height: 13px;
    max-width: 275px;
  }
}

@media screen and (max-width: 800px) {
  .profile__text {
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
  }
}

@media screen and (max-width: 400px) {
  .profile__text {
    font-size: 14px;
    max-width: 200px;
  }
}

