.profile__container {
  display: flex;
}

@media screen and (max-width: 800px) {
  .profile__container {
    justify-content: center;
  }
}

@media screen and (max-width: 320px) {
  .profile__container {
    margin-left: 23px;
  }
}
