.header {
  width: 68.75%;
  margin: 0 auto 40px;
  padding-top: 45px;
  min-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 320px) {
  .header {
    width: 100%;
    min-height: 56px;
    padding-top: 28px;
    margin-bottom: 42px;
  }
}
