.card__trash {
  position: absolute;
  margin: 0;
  padding: 0;
  border: 0;
  background: 0;
  top: 20px;
  right: 20px;
  background-image: url(../../../images/logo/Trash.svg);
  width: 18px;
  height: 19px;
  cursor: pointer;
  transition: opacity .3s linear;
  z-index: 2;
}

.card__trash:hover {
  opacity: .6;
}
