.profile__text{
  margin: 0;
  color: #fff;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
}

@media screen and (max-width:1024px) {
  .profile__text {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 800px) {
  .profile__text {
    text-align: center;
    font-size: 1rem;
  }
}

@media screen and (max-width: 320px) {
  .profile__text {
    font-size: 14px;
    line-height: 16.94px;
  }
}
