.profile__text{
  max-width: 90%;
  margin: 0;
  color: #fff;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 930px) {
  .profile__text {
    font-size: 16px;
    line-height: 16px;
  }
}

@media screen and (max-width: 800px) {
  .profile__text {
    text-align: center;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .profile__text {
    font-size: 14px;
    line-height: 16.94px;
  }
}
