.card__heading-plus-heard {
  display: flex;
  justify-content: space-between;
  margin: auto 0;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  max-height: 79px;
}
